     <!-- Formulario de login -->
     <form id="form" style="background-color: rgb(252, 252, 252); padding: 20px; width: 500px; height: 300px; border-radius: 10px; border: solid 1px #FFBE33;">
      <div class="input-container" style=" justify-content: center; align-items: center;">

          <!-- Input de usuario -->
          <div class="input-box">
              <input id="input-username" name="username" class="input-user" type="text" placeholder="Usuario" style="width: 100%; padding: 16px; border-radius: 10px; border: solid 1px #FFBE33; margin: 16px 0px;">
          </div>

          <!-- Input de Contraseña -->
          <div class="input-box">
              <input id="password" name="password" type="password" placeholder="Contraseña" style="width: 100%; padding: 16px; border-radius: 10px; border: solid 1px #FFBE33; margin: 16px 0px;">
          </div>
      </div>

      <!-- Botón de ingreso -->
      <input type="submit" value="INGRESAR" class="bg-primary banner-btn btn border-2 border-white rounded-pill text-dark py-3 px-5" style="width: 100%; margin-bottom: 16px;">

      <!-- Enlace para recuperar contraseña -->
      <div>
          <a class="login-forgot-btn" style="margin-bottom: 16px; padding-bottom: 16px;" href="./404.html">No recuerdo mi contraseña</a>
      </div>
  </form>